venv/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
ENV/
env.bak/
venv.bak/
__pycache__/
*.pyc
db.sqlite3
*.sqlite3
../.vscode/
../venv/

*.py[cod]

*.log
*.sqlite3
*.egg-info/
codes/
inputs/
outputs/
keys/
aws/
awscliv2.zip
.env
*.env